.perc::after {
  content: " %";
}

.tot-mem::after {
  content: "Gb";
}

.up::before {
  content: "\02C4";
  color: red;
  padding: 3px;
}
.down::before {
  content: "\02C5";
  color: blue;
  padding: 3px;
}
