{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ ext.name }} ~ {% trans "Extension detail" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/dataTables.bootstrap4.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Extension detail" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "xbee_extensions:extensions_list" %}">{% trans "Extensions list" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ ext.name }} ~ {% trans "Extension detail" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Edit" submit_name="ext_detail_submitted" form=form_ext %}{% include "form-grid.html" %}{% endwith %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>{% trans "Follow Me" %}</h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#followme__internal" role="tab" aria-controls="first" aria-selected="true">{% trans "Internal" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="second-tab" data-toggle="tab" href="#followme__external" role="tab" aria-controls="second" aria-selected="false">{% trans "External" %}</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="followme__internal" role="tabpanel" aria-labelledby="first-tab">

                            {% with followme=followme_internal type=0 %}{% include "xbee_extensions/tab/follow_me_section.html" %}{% endwith %}

                        </div>
                        <div class="tab-pane fade" id="followme__external" role="tabpanel" aria-labelledby="second-tab">

                            {% with followme=followme_external type=1 %}{% include "xbee_extensions/tab/follow_me_section.html" %}{% endwith %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/datatables.min.js" %}"></script>
{% endblock %}