{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Extension list" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/dataTables.bootstrap4.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Extension list" %}</h1>
            <div class="top-right-button-container">
                <a href="{% url "xbee_extensions:extension_create" %}"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">{% trans "ADD" %}</button></a>
            </div>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Extension list" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Number" %}</th>
                                <th>{% trans "Context" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for ext in extensions %}
                                <tr>
                                    <td>
                                        <p class="list-item-heading">{{ ext.name }}</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">{{ ext.number }}</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">{{ ext.context }}</p>
                                    </td>
                                    <td>
                                        <a href="{% url "xbee_extensions:extension_detail" ext.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans "Edit" %}">
                                            <i class="simple-icon-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/datatables.min.js" %}"></script>
{% endblock %}