{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Create Extension" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/dataTables.bootstrap4.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/datatables.responsive.bootstrap4.min.css" %}" />

    <link rel="stylesheet" href="{% static "css/vendor/smart_wizard.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Create extension" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "xbee_extensions:extensions_list" %}">{% trans "Extension list" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Create extension" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div id="smartWizardValidation">
                    <ul class="card-header">
                        <li><a href="#step-0">Step 1<br /><small>{% trans "Extensions number" %}</small></a></li>
                        <li><a href="#step-1">Step 2<br /><small>{% trans "Extensions details" %}</small></a></li>
                    </ul>

                    <div class="card-body">
                        <div id="step-0">
                            <form id="form-step-0" class="tooltip-label-right" novalidate>
                                <div class="form-group position-relative error-l-100">
                                    <label for="first-ext">{% trans "First extension identifier" %}</label>
                                    <input type="number" id="first-ext" class="form-control" required>
                                </div>
                                <div class="form-group position-relative error-l-100">
                                    <label for="last-ext">{% trans "Last extension identifier" %}</label>
                                    <input type="number" id="last-ext" class="form-control" required>
                                </div>
                            </form>
                        </div>
                        <div id="step-1" style="min-height: 180px; height: auto;">
                            <div id="spinner" class="text-center">
                                <div class="my-spinner"></div>
                            </div>
                            <div id="result-formset"></div>
                        </div>
                    </div>

                    <div class="btn-toolbar custom-toolbar text-center card-body pt-0">
                        <button class="btn btn-secondary prev-btn" type="button">{% trans "Previous" %}</button>
                        <button class="btn btn-secondary next-btn" type="button" onclick="formsetAjax();">{% trans "Next" %}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/datatables.min.js" %}"></script>

    <script src="{% static "js/vendor/jquery.smartWizard.min.js" %}"></script>
    <script src="{% static "js/vendor/jquery.validate/jquery.validate.min.js" %}"></script>

    <script>
        function formsetAjax() {
            $.post(window.location.href, {first_ext: $('#first-ext').val(), last_ext: $('#last-ext').val()})
                .done(function(data) {
                    $('#spinner').hide();
                    $('#result-formset').html(data);
                    $('.add-form-row').hide();
                });
        }
    </script>
{% endblock %}