{% load i18n %}
<table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Company" %}</th>
            <th>{% trans "E-mail" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for user in clients %}
            <tr>
                <td>
                    <p class="list-item-heading">{{ user.get_full_name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ user.company.name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ user.email }}</p>
                </td>
                <td>
                    <span class="badge badge-secondary mb-1">{% trans "User" %}</span>
                </td>
                <td>
                    {% if user.is_active %}
                        <span class="badge badge-success mb-1">{% trans "Enabled" %}</span>
                    {% else %}
                        <span class="badge badge-danger mb-1">{% trans "Disabled" %}</span>
                    {% endif %}
                </td>
                <td><a href="{% url "xbee_account:user_disable" user.pk %}" data-toggle="tooltip" data-placement="top" title="{% if user.is_active %}{% trans "Disable" %}{% else %}{% trans "Enable" %}{% endif %}"><i class="simple-icon-ban"></i></a></td>
            </tr>
        {% endfor %}

    </tbody>
</table>