{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ queue.name }} ~ {% trans "Queue detail" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Queue detail" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "xbee_queues:queues_list" %}">{% trans "Queues list" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ queue.name }} ~ {% trans "Queue detail" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Edit" submit_name="queue_submitted" form=form_queue %}{% include "form-grid.html" %}{% endwith %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}