{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load apps_widgets_tag %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "xbee_account/dashboard.css" %}" />
{% endblock %}

{% block content %}
    {% generate_apps_widgets %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Dashboard" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Home" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        {% if perms.xbee_account.xbee_perm_reseller %}

            <div class="col-md-6 col-sm-12 mb-3" id="cpu-stats">
                <div class="card">
                    <div class="card-body">
                        <h2>{% trans "CPU stats" %}</h2>

                        <div class="row">
                            {% for ast in asterisks %}
                                <div class="{% if asterisks|length == 1 %}col-md-12{% else %}col-md-6{% endif %} col-sm-12" ip="{{ ast.ip }}">
                                    <h6>{{ ast.ip }}<span class="perc float-right">0</span></h6>
                                    <small>
                                        ({% for cmp in ast.companies.all %}
                                            {{ cmp.name }},
                                        {% empty %}
                                            {% trans "No one company linked" %}
                                        {% endfor %})
                                    </small>

                                    <div class="graph">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-3" id="ram-stats">
                <div class="card">
                    <div class="card-body">
                        <h2>{% trans "RAM stats" %}</h2>

                        <div class="row">
                            {% for ast in asterisks %}
                                <div class="{% if asterisks|length == 1 %}col-md-12{% else %}col-md-6{% endif %} col-sm-12" ip="{{ ast.ip }}">
                                    <h6>{{ ast.ip }}<span class="perc float-right m-1">0</span> <span class="float-right tot-mem m-1">0</span></h6>
                                    <small>
                                        ({% for cmp in ast.companies.all %}
                                            {{ cmp.name }},
                                        {% empty %}
                                            {% trans "No one company linked" %}
                                        {% endfor %})
                                    </small>

                                    <div class="graph">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-3" id="net-stats">
                <div class="card">
                    <div class="card-body">
                        <h2>{% trans "NET stats" %}</h2>

                        <div class="row">
                            {% for ast in asterisks %}
                                <div class="{% if asterisks|length == 1 %}col-md-12{% else %}col-md-6{% endif %} col-sm-12" ip="{{ ast.ip }}">
                                    <h6>{{ ast.ip }}<span class="up float-right m-1">0</span> <span class="float-right down m-1">0</span></h6>
                                    <small>
                                        ({% for cmp in ast.companies.all %}
                                            {{ cmp.name }},
                                        {% empty %}
                                            {% trans "No one company linked" %}
                                        {% endfor %})
                                    </small>

                                    <div class="graph">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% for wid in widgets %}
                {{ wid.render }}
            {% endfor %}

        {% elif perms.xbee_account.xbee_perm_client %}

            <div class="col-6">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>

            {% for wid in widgets %}
                {{ wid.render }}
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/Chart.bundle.min.js" %}"></script>

    <script src="{% static "xbee_account/dashboard.js" %}"></script>
{% endblock %}