{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "User detail" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "User detail" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "User detail" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-8">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Update" submit_name="edit_profile" form=form_edit %}{% include "form-top-labels-over-line.html" %}{% endwith %}

                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Update" submit_name="change_password" form=form_psw_change %}{% include "form-top-labels-over-line.html" %}{% endwith %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
{% endblock %}