{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Users list" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/dataTables.bootstrap4.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Users list" %}</h1>
            <div class="top-right-button-container">
                <button type="button" class="btn btn-primary btn-lg top-right-button mr-1" data-toggle="modal" data-target="#newClientRightModal">{% trans "ADD USER" %}</button>
                {% if perms.xbee_account.xbee_perm_reseller or perms.xbee_account.xbee_perm_reseller_admin %}<button type="button" class="btn btn-primary btn-lg top-right-button mr-1" data-toggle="modal" data-target="#newResellerRightModal">{% trans "ADD RESELLER" %}</button>{% endif %}
            </div>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Users list" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#list__users" role="tab" aria-controls="first" aria-selected="true">{% trans "Users" %}</a>
                        </li>
                        {% if request.user.is_superuser or not perms.xbee_account.xbee_perm_client %}
                            <li class="nav-item">
                                <a class="nav-link" id="second-tab" data-toggle="tab" href="#list__resellers" role="tab" aria-controls="second" aria-selected="false">{% trans "Resellers" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="card-body">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="list__users" role="tabpanel" aria-labelledby="first-tab">

                            {% include "xbee_account/tab/tab_user.html" %}

                        </div>
                        <div class="tab-pane fade" id="list__resellers" role="tabpanel" aria-labelledby="second-tab">

                            {% include "xbee_account/tab/tab_reseller.html" %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-right" id="newClientRightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rightModalLabel">{% trans "Add new user" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans %}The password will sent directly to the e-mail address of the user{% endblocktrans %}</p>

                    {% with submit_text="Create" submit_name="client_submitted" form=form_client %}{% include "form-top-labels-over-line.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-right" id="newResellerRightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rightModalLabel">{% trans "Add new reseller" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans %}The password will sent directly to the e-mail address of the user{% endblocktrans %}</p>

                    {% with submit_text="Create" submit_name="reseller_submitted" form=form_reseller %}{% include "form-top-labels-over-line.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/datatables.min.js" %}"></script>
{% endblock %}