{% load i18n %}
<table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
    <thead>
        <tr>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Did number" %}</th>
            <th>{% trans "Propend cid" %}</th>
            <th>{% trans "Destination" %}</th>
            <th>{% trans "Lang" %}</th>
            <th>{% trans "Call recording" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for inb in inbounds %}
            <tr>
                <td>
                    <p class="list-item-heading">{{ inb.company.name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ inb.did_number }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ inb.prepend_cid }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ inb.destination }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ inb.get_language_display }}</p>
                </td>
                <td>
                    {% if inb.call_recording == 'Y' %}
                        <span class="badge badge-success mb-1">{% trans "Yes" %}</span>
                    {% elif inb.call_recording == 'N' %}
                        <span class="badge badge-danger mb-1">{% trans "No" %}</span>
                    {% elif inb.call_recording == 'OD' %}
                        <span class="badge badge-warning mb-1">{% trans "On demand" %}</span>
                    {% endif %}
                </td>
                <td><a href="{% url 'xbee_routes:delete_route' 'inbound' inb.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans "Delete" %}"><i class="simple-icon-trash"></i></a></td>
            </tr>
        {% endfor %}

    </tbody>
</table>