{% load i18n %}
<table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
    <thead>
        <tr>
            <th>{% trans "Route name" %}</th>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Route cid" %}</th>
            <th>{% trans "Music on hold" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for outb in outbounds %}
            <tr>
                <td>
                    <p class="list-item-heading">{{ outb.route_name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ outb.company.name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ outb.route_cid }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ outb.music_on_hold }}</p>
                </td>
                <td>
                    <a href="{% url 'xbee_routes:outbound_detail' outb.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans "Edit" %}" class="mr-3"><i class="simple-icon-pencil"></i></a>
                    <a href="{% url 'xbee_routes:delete_route' 'outbound' outb.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans "Delete" %}"><i class="simple-icon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>