{% load i18n %}

<table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
    <thead>
        <tr>
            <th>{% trans "Enable" %}</th>
            <th>{% trans "Ring time" %}</th>
            <th>{% trans "Phone numbers" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for fwme in followme %}
            {% if type == fwme.type %}
                <tr>
                    <td>
                        {% if fwme.enable == 1 %}
                            <span class="badge badge-success mb-1">{% trans "Yes" %}</span>
                        {% elif fwme.enable == 0 %}
                            <span class="badge badge-danger mb-1">{% trans "No" %}</span>
                        {% endif %}
                    </td>
                    <td>
                        <p class="text-muted">{{ fwme.ring_time }}</p>
                    </td>
                    <td>
                        <p class="text-muted">{{ fwme.phone_numbers }}</p>
                    </td>
                    <td>
                        <a href="{% url "xbee_extensions:disable_follow_me" fwme.pk %}" data-toggle="tooltip" data-placement="top" title="{% if fwme.enable == 1 %}{% trans "Disable" %}{% else %}{% trans "Enable" %}{% endif %}" class="mr-3">
                            <i class="simple-icon-ban"></i>
                        </a>
                        <a href="{% url "xbee_extensions:delete_follow_me" fwme.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans "Delete" %}">
                            <i class="simple-icon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

    </tbody>
</table>

{% if followme.count == 0 %}
    <h3 class="mt-5">{% trans "Create Followme" %}</h3>
    {% with type|stringformat:"s" as typestr %}
        {% with "followme_"|add:typestr|add:"_submitted" as subname %}
            {% with submit_text="Create" form=form_followme submit_name=subname %}{% include "form-grid.html" %}{% endwith %}
        {% endwith %}
    {% endwith %}
{% endif %}