{% load i18n %}

<div class="col-md-6 col-sm-12 mb-3">
    <div class="card">
        <div class="card-body">
            <h2>{% trans "Trunks" %}</h2>

            <div class="row">
                {% for comp in companies %}
                    <div class="{% if companies|length == 1 %}col-md-12{% else %}col-md-6{% endif %} col-sm-12">
                        <h6>{{ comp.name }}</h6>

                        <ul>
                            {% for trunk in comp.company_trunks.all %}
                                <li>{{ trunk.name }}</li>
                            {% empty %}
                                <li>{% trans "No trunks for this company" %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>