{% load i18n %}
<table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Company" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for c in categories %}
            <tr>
                <td>
                    <p class="list-item-heading">{{ c.name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ c.company.name }}</p>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>