{% load i18n %}
<table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
    <thead>
        <tr>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Company" %}</th>
            <th>{% trans "Random play" %}</th>
            <th>{% trans "File" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for m in music %}
            <tr>
                <td>
                    <p class="list-item-heading">{{ m.category.name }}</p>
                </td>
                <td>
                    <p class="text-muted">{{ m.company.name }}</p>
                </td>
                <td>
                    {% if m.is_random_play %}
                        <span class="badge badge-warning mb-1">{% trans "Random" %}</span>
                    {% endif %}
                </td>
                <td>
                    <p class="text-muted mb-1">
                        <button type="button" id="music-{{ m.pk }}" onclick="downlaodRecording(this);" url="{% url 'xbee_recordings:download_recording' m.pk %}" class="btn btn-secondary btn-sm">{% trans "LISTEN" %}</button>
                    </p>
                </td>
                <td><a href="{% url 'xbee_recordings:delete_recording' m.pk %}" data-toggle="tooltip" data-placement="top" title="{% trans "Delete" %}"><i class="simple-icon-trash"></i></a></td>
            </tr>
        {% endfor %}

    </tbody>
</table>