{% load static %}
{% load i18n %}
{% load menu %}{% generate_menu %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <meta charset="UTF-8">
        <title>XBee | {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="{% static "font/iconsmind-s/css/iconsminds.css" %}" />
        <link rel="stylesheet" href="{% static "font/simple-line-icons/css/simple-line-icons.css" %}" />

        <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap.rtl.only.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap-tagsinput.css" %}" />
        <link rel="stylesheet" href="{% static "css/vendor/component-custom-switch.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/vendor/perfect-scrollbar.css" %}" />

        {% block css_head_block %}{% endblock %}

        <link rel="stylesheet" href="{% static "css/main.css" %}" />
        <link rel="stylesheet" href="{% static "css/other.css" %}" />
    </head>

    <body id="app-container" class="menu-default show-spinner">
        <nav class="navbar fixed-top">
            <div class="d-flex align-items-center navbar-left">
                <a href="#" class="menu-button d-none d-md-block">
                    <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                        <rect x="0.48" y="0.5" width="7" height="1" />
                        <rect x="0.48" y="7.5" width="7" height="1" />
                        <rect x="0.48" y="15.5" width="7" height="1" />
                    </svg>
                    <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                        <rect x="1.56" y="0.5" width="16" height="1" />
                        <rect x="1.56" y="7.5" width="16" height="1" />
                        <rect x="1.56" y="15.5" width="16" height="1" />
                    </svg>
                </a>

                <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                        <rect x="0.5" y="0.5" width="25" height="1" />
                        <rect x="0.5" y="7.5" width="25" height="1" />
                        <rect x="0.5" y="15.5" width="25" height="1" />
                    </svg>
                </a>

                {% if perms.xbee_account.xbee_perm_reseller or perms.xbee_account.xbee_perm_reseller_admin  %}
                    <form action="{% url 'xbee_company:company_change' %}" method="get">
                        <input name="next" class="d-none" value="{{ request.path|urlencode }}" />
                        <select onchange="onChangeSelectedCompany(this);" name="selected_company" class="search form-control">
                            <option value="None">{% trans "All" %}</option>

                            {% if request.user.cast.seller is None %}
                                {% for comp in request.user.cast.reseller_companies.all %}
                                    <option value="{{ comp.pk }}" {% if comp.pk == request.user.cast.selected_company.pk %}selected{% endif %}>{{ comp.name }}</option>
                                {% endfor %}
                            {% else %}
                                {% for comp in request.user.cast.seller.reseller_companies.all %}
                                    <option value="{{ comp.pk }}" {% if comp.pk == request.user.cast.selected_company.pk %}selected{% endif %}>{{ comp.name }}</option>
                                {% endfor %}
                            {% endif %}

                        </select>
                    </form>
                {% endif %}

            </div>

            <a class="navbar-logo" href="{% url 'xbee_account:dashboard' %}">
                <span class="logo d-none d-xs-block"></span>
                <span class="logo-mobile d-block d-xs-none"></span>
            </a>

            <div class="navbar-right">
                <div class="header-icons d-inline-block align-middle">

                    <div class="position-relative d-none d-sm-inline-block">
                        <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="simple-icon-grid"></i>
                        </button>

                        {% with menu=menus.dropdown_smart_actions %}{% include "dropdown-smart-actions.html" %}{% endwith %}

                    </div>

                    <div class="position-relative d-inline-block">
                        <button class="header-icon btn btn-empty" type="button" id="notificationButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="simple-icon-bell"></i>
                            <span class="count">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right mt-3 position-absolute" id="notificationDropdown">
                            <div class="scroll">
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img src="{% static "img/profile-pic-l-2.jpg" %}" alt="Notification Image"
                                            class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
                                            <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img src="{% static "img/notification-thumb.jpg" %}" alt="Notification Image"
                                            class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-1">1 item is out of stock!</p>
                                            <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <a href="#">
                                        <img src="{% static "img/notification-thumb-2.jpg" %}" alt="Notification Image"
                                            class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-1">New order received! It is total $147,20.</p>
                                            <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 ">
                                    <a href="#">
                                        <img src="{% static "img/notification-thumb-3.jpg" %}" alt="Notification Image"
                                            class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                                    </a>
                                    <div class="pl-3">
                                        <a href="#">
                                            <p class="font-weight-medium mb-1">3 items just added to wish list by a user!
                                            </p>
                                            <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                        <i class="simple-icon-size-fullscreen"></i>
                        <i class="simple-icon-size-actual"></i>
                    </button>

                </div>

                <div class="user d-inline-block">
                    <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="name">{{ request.user.get_full_name }}</span>
                        <span>
                            <!-- TODO ottimizza--><img alt="Profile Picture" class="fix-profile-image" src="{% if perms.xbee_account.xbee_perm_client %}{% if request.user.client.profile_image %}{{ request.user.client.profile_image.url }}{% else %}{% static "img/default-pic.png" %}{% endif %}{% elif perms.xbee_account.xbee_perm_reseller or perms.xbee_account.xbee_perm_reseller_admin %}{% if request.user.reseller.profile_image %}{{ request.user.reseller.profile_image.url }}{% else %}{% static "img/default-pic.png" %}{% endif %}{% endif %}" />
                        </span>
                    </button>

                    {% with menu=menus.dropdown_account_menu %}{% include "dropdown-account-menu.html" %}{% endwith %}
                </div>
            </div>
        </nav>

        <div class="menu">
            <div class="main-menu">
                {% with menu=menus.main %}{% include "main-menu.html" %}{% endwith %}
            </div>

            <div class="sub-menu">
                {% with menu=menus.main %}{% include "sub-menu.html" %}{% endwith %}
            </div>
        </div>

        <main>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% endif %} alert-dismissible fade show mb-3" role="alert">
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div>

        </main>

        <footer class="page-footer">
            <div class="footer-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <p class="mb-0 text-muted">ColoredStrategies 2019</p>
                        </div>
                        <div class="col-sm-6 d-none d-sm-block">
                            <ul class="breadcrumb pt-0 pr-0 float-right">
                                <li class="breadcrumb-item mb-0">
                                    <a href="#" class="btn-link">Review</a>
                                </li>
                                <li class="breadcrumb-item mb-0">
                                    <a href="#" class="btn-link">Purchase</a>
                                </li>
                                <li class="breadcrumb-item mb-0">
                                    <a href="#" class="btn-link">Docs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script>
            let static_url = "{% get_static_prefix %}";
            let media_url = "{% get_media_prefix %}";
        </script>
        <script src="{% static "js/vendor/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap-tagsinput.min.js" %}"></script>
        <script src="{% static "js/vendor/perfect-scrollbar.min.js" %}"></script>
        <script src="{% static "js/vendor/mousetrap.min.js" %}"></script>

        {% block js_body_block %}{% endblock %}

        <script src="{% static "js/dore.script.js" %}"></script>
        <script src="{% static "js/scripts.js" %}"></script>
        <script src="{% static "js/other.scripts.js" %}"></script>
    </body>

</html>