<div class="dropdown-menu dropdown-menu-right mt-3">

    <div class="d-none d-md-inline-block align-text-bottom dropdown-item">
        <span class="ql-color">Dark mode</span>
        <div class="d-inline custom-switch custom-switch-primary-inverse custom-switch-small pl-3">
            <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
            <label class="custom-switch-btn fix-darkmode-switch" for="switchDark"></label>
        </div>
    </div>

    {% for item in menu %}
        <a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}

</div>