<div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">

    {% for item in menu %}
        <a href="{{ item.url }}" class="icon-menu-item">
            <i class="{{ item.icon }} d-block"></i>
            <span>{{ item.title }}</span>
        </a>
    {% endfor %}

<!--
    <a href="#" class="icon-menu-item">
        <i class="iconsminds-equalizer d-block"></i>
        <span>Settings</span>
    </a>

    <a href="#" class="icon-menu-item">
        <i class="iconsminds-male-female d-block"></i>
        <span>Users</span>
    </a>

    <a href="#" class="icon-menu-item">
        <i class="iconsminds-puzzle d-block"></i>
        <span>Components</span>
    </a>

    <a href="#" class="icon-menu-item">
        <i class="iconsminds-bar-chart-4 d-block"></i>
        <span>Profits</span>
    </a>

    <a href="#" class="icon-menu-item">
        <i class="iconsminds-file d-block"></i>
        <span>Surveys</span>
    </a>

    <a href="#" class="icon-menu-item">
        <i class="iconsminds-suitcase d-block"></i>
        <span>Tasks</span>
    </a>
-->

</div>