{% load i18n %}
{% load widget_tweaks %}

<form method="post" class="custom-form" action="" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}

        {% for error in field.errors %}
            <div>{{ error }}</div>
        {% endfor %}

        {% if field.field.widget.input_type == 'checkbox' %}

            <div class="custom-control custom-checkbox mb-3 text-center">
                {% render_field field class="custom-control-input" %}
                <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            </div>

        {% elif field|widget_type == 'textarea' %}

            <div class="has-float-label mb-3">
                {% render_field field class="form-control" autocomplete="off" rows="2" %}
                <span>{{ field.label }}</span>
            </div>

        {% elif field.field.widget.input_type == 'file' %}

            <div class="mb-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">{{ field.label }}</label>
                            <div class="preview-zone hidden">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <div><b>{% trans "Preview" %}</b></div>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-danger btn-xs remove-preview">
                                                <i class="fa fa-times"></i>{% trans " Reset" %}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body"></div>
                                </div>
                            </div>
                            <div class="dropzone-wrapper">
                                <div class="dropzone-desc">
                                    <i class="simple-icon-cloud-upload"></i>
                                    <p>{% trans "Choose a file or drag it here." %}</p>
                                </div>
                                {% render_field field class="dropzone" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="form-group has-float-label mt-4">
                {% render_field field class="form-control" autocomplete="off" %}
                <span>{{ field.label }}</span>
            </div>

        {% endif %}

        {% if field.help_text %}
            <span>
                {{ field.help_text }}
            </span>
        {% endif %}

    {% endfor %}

    <input type="submit" value="{% blocktrans %}{{ submit_text }}{% endblocktrans %}" name="{{ submit_name }}" class="btn btn-primary btn-multiple-state mt-5">
</form>