{% load i18n %}
{% load widget_tweaks %}

<form method="post" class="custom-form formset" action="" autocomplete="off" prefix_form="{{ formset.prefix }}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ formset.management_form }}

    {% for form in formset %}
        <div class="single-form mt-3 position-relative">
            <div class="form-row">

                {% for field in form %}

                    {% if field.field.new_group == 'true' %}
                        </div><div class="form-row">
                    {% endif %}

                    <div class="form-group col-lg-4 col-md-6">

                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}

                        {% if field.field.widget.input_type == 'checkbox' %}

                            <div class="custom-control custom-checkbox mt-2 mb-2 text-center">
                                {% render_field field class="custom-control-input" %}
                                <label class="custom-control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            </div>

                        {% elif field|widget_type == 'timeinput' %}

                            <div class="form-group has-float-label mt-2">
                                {% render_field field class="form-control datetimepicker" autocomplete="off" %}
                                <span>{{ field.label }}</span>
                            </div>

                        {% elif field|widget_type == 'textarea' %}

                            <div class="form-group has-float-label mt-2">
                                {% render_field field class="form-control" autocomplete="off" rows="2" %}
                                <span>{{ field.label }}</span>
                            </div>

                        {% elif field.field.widget.input_type == 'file' %}

                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">{{ field.label }}</label>
                                            <div class="preview-zone hidden">
                                                <div class="box box-solid">
                                                    <div class="box-header with-border">
                                                        <div><b>{% trans "Preview" %}</b></div>
                                                        <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-danger btn-xs remove-preview">
                                                                <i class="fa fa-times"></i>{% trans " Reset" %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="box-body"></div>
                                                </div>
                                            </div>
                                            <div class="dropzone-wrapper">
                                                <div class="dropzone-desc">
                                                    <i class="simple-icon-cloud-upload"></i>
                                                    <p>{% trans "Choose a file or drag it here." %}</p>
                                                </div>
                                                {% render_field field class="dropzone" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% else %}

                            <div class="form-group has-float-label mt-2">
                                {% render_field field class="form-control" autocomplete="off" %}
                                <span>{{ field.label }}</span>
                            </div>

                        {% endif %}

                        {% if field.help_text %}
                            <span>
                                {{ field.help_text }}
                            </span>
                        {% endif %}

                    </div>
                {% endfor %}

            </div>

            <div class="form-row position-absolute" style="top:0;right:0;">
                <button class="btn btn-primary btn-multiple-state mt-2 float-lg-right add-form-row" >+</button>
            </div>
        </div>
    {% endfor %}

    <input type="submit" value="{% blocktrans %}{{ submit_text }}{% endblocktrans %}" name="{{ submit_name }}" class="btn btn-primary btn-multiple-state mt-5">
</form>