{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <title>Xbee | Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="{% static "font/iconsmind-s/css/iconsminds.css" %}" />
        <link rel="stylesheet" href="{% static "font/simple-line-icons/css/simple-line-icons.css" %}" />

        <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap.rtl.only.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/main.css" %}" />
    </head>

    <body class="background show-spinner no-footer">
        <div class="fixed-background"></div>
        <main>
            <div class="container">
                <div class="row h-100">
                    <div class="col-12 col-md-10 mx-auto my-auto">
                        <div class="card auth-card">
                            <div class="position-relative image-side ">

                                <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>

                                <p class="white mb-0">
                                    {% trans "Please use your credentials to login." %}
                                </p>
                            </div>
                            <div class="form-side">
                                <a href="#">
                                    <span class="logo-single"></span>
                                </a>

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% endif %} alert-dismissible fade show mb-4" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <h6 class="mb-4">{% trans "Login" %}</h6>
                                <form method="POST">
                                    {% csrf_token %}
                                    <label class="form-group has-float-label mb-4">
                                        <input class="form-control" name="username"/>
                                        <span>{% trans "Username" %}</span>
                                    </label>

                                    <label class="form-group has-float-label mb-4">
                                        <input class="form-control" type="password" name="password" placeholder="" />
                                        <span>{% trans "Password" %}</span>
                                    </label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="#">{% trans "Forget password?" %}</a>
                                        <button class="btn btn-primary btn-lg btn-shadow" type="submit">{% trans "LOGIN" %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script>
            let static_url = "{% get_static_prefix %}";
            let media_url = "{% get_media_prefix %}";
        </script>
        <script src="{% static "js/vendor/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/vendor/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/dore.script.js" %}"></script>
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>