<div class="scroll">
    <ul class="list-unstyled">

        {% for item in menu %}
            <li>
                <a href="{% if item.identifier %}#{{ item.identifier }}{% else %}{{ item.url }}{% endif %}">
                    <i class="{{ item.icon }}"></i>
                    <span>{{ item.title }}</span>
                </a>
            </li>
        {% endfor %}

    </ul>
</div>