<div class="scroll">

    {% for item in menu %}
        {% if item.identifier %}
            <ul class="list-unstyled" data-link="{{ item.identifier }}">
                {% for subitem in item.children %}
                    <li>
                        {% if subitem.identifier %}
                            <a href="#" data-toggle="collapse" data-target="#{{ subitem.identifier }}" aria-expanded="true" aria-controls="{{ subitem.identifier }}" class="rotate-arrow-icon opacity-50">
                                <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">{{ subitem.title }}</span>
                            </a>
                            <div id="{{ subitem.identifier }}" class="collapse show">
                                <ul class="list-unstyled inner-level-menu">
                                    <li>
                                        {% for subsubitem in subitem.children %}
                                            <a href="{{ subsubitem.url }}">
                                                <i class="{{ subsubitem.icon }}"></i> <span class="d-inline-block">{{ subsubitem.title }}</span>
                                            </a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a href="{{ subitem.url }}">
                                <i class="{{ subitem.icon }}"></i> <span class="d-inline-block">{{ subitem.title }}</span>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

</div>