{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "TTS" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "TTS" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "TTS" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Create" submit_name="tts_submitted" form=form_tts %}{% include "form-top-labels-over-line.html" %}{% endwith %}

                    {% if request.GET.tts %}
                        <div id="player-container" class="m-5 text-center">
                            <audio src="{{ request.GET.tts }}" controls="controls"></audio>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
{% endblock %}