{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ ivr.name }} ~ {% trans "IVR detail" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "IVR detail" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "xbee_ivr:ivr_list" %}">{% trans "IVR list" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ ivr.name }} ~ {% trans "IVR detail" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Edit" submit_name="ivr_detail_submitted" form=form_ivr_detail %}{% include "form-grid.html" %}{% endwith %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>{% trans "Digits" %}</h2>
        </div>
    </div>

    <div class="row mb-4">
        {% for dig in ivr.ivr_digits.all %}
            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                <div class="card d-flex flex-row">
                    <div class="d-flex">
                        <div class="rounded-circle m-4 align-self-center list-thumbnail-letters">
                            {{ dig.digits_pressed }}
                        </div>
                    </div>
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero text-center">
                                <p class="list-item-heading mb-1 truncate">{{ dig.content_object }}</p>
                                <a href="{% url 'xbee_ivr:delete_digit' dig.pk %}"><button type="button" class="btn btn-xs btn-outline-primary mt-2">{% trans "Delete" %}</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                        {% with submit_text="Create" submit_name="fs_digits_submitted" formset=dg_formset %}{% include "formset-grid.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "xbee_ivr/ivr_detail.js" %}"></script>
    <script src="{% static "js/formset.js" %}"></script>
{% endblock %}