{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ tg.description }} ~ {% trans "Time group detail" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-datepicker3.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-datetimepicker.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Time group detail" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "xbee_time_groups:tg_list" %}">{% trans "Time group list" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ tg.description }} ~ {% trans "Time group detail" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Edit" submit_name="tg_detail_submitted" form=form_tg_detail %}{% include "form-grid.html" %}{% endwith %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>{% trans "Times" %}</h2>
        </div>
    </div>

    <div class="row mb-4">
        {% for tt in tg.times.all %}
            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                <div class="card d-flex flex-row">
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero text-center mx-auto">
                                <p class="list-item-heading mb-1 truncate">{{ tt.get_month_start_display }} - {{ tt.get_month_finish_display }}</p>
                                <p class="list-item-heading mb-1 truncate">{{ tt.get_weekday_start_display }} - {{ tt.get_weekday_finish_display }}</p>
                                <p class="list-item-heading mb-1 truncate">{{ tt.time_start }} / {{ tt.time_finish }}</p>
                                <a href="{% url 'xbee_time_groups:delete_time' tt.pk %} "><button type="button" class="btn btn-xs btn-outline-primary mt-2">{% trans "Delete" %}</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                        {% with submit_text="Create" submit_name="fs_t_submitted" formset=t_formset %}{% include "formset-grid.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/formset.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/vendor/moment.min.js" %}" ></script>
    <script src="{% static "js/vendor/bootstrap-datetimepicker.min.js" %}"></script>

    <script>

        $(function() {
            initPicker();

            $('.formset').on('add-form-row', function () {
                setTimeout(function(){
                    initPicker();
                }, 200);
            });
        });

        function initPicker() {
            $('.datetimepicker').datetimepicker({
                format: 'HH:mm',
                icons: {
                    up: 'simple-icon-arrow-up',
                    down: 'simple-icon-arrow-down'
                },
            });

            $('[id$=year_start]').datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
            });

            $('[id$=year_finish]').datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
            });
        }
    </script>
{% endblock %}