{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ outbound.route_name }} ~ {% trans "Outbound detail" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Outbound detail" %}</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "xbee_routes:routes" %}">{% trans "Routes" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ outbound.route_name }} ~ {% trans "Outbound detail" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    {% with submit_text="Edit" submit_name="outbound_submitted" form=form_outbound %}{% include "form-grid.html" %}{% endwith %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>{% trans "Dial Patterns" %}</h2>
        </div>
    </div>

    <div class="row mb-4">
        {% for dp in outbound.dial_patterns.all %}
            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                <div class="card d-flex flex-row">
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero text-center mx-auto">
                                <p class="list-item-heading mb-1 truncate"><strong>{% trans "Prepend" %}:</strong> {{ dp.prepend }}</p>
                                <p class="list-item-heading mb-1 truncate"><strong>{% trans "Prefix" %}:</strong> {{ dp.prefix }}</p>
                                <p class="list-item-heading mb-1 truncate"><strong>{% trans "Match pattern" %}:</strong> {{ dp.match_pattern }}</p>
                                <p class="list-item-heading mb-1 truncate"><strong>{% trans "Caller ID" %}:</strong> {{ dp.caller_id }}</p>
                                <a href="{% url "xbee_routes:delete_dp_and_ts" 'dp' dp.pk %}"><button type="button" class="btn btn-xs btn-outline-primary mt-2">{% trans "Delete" %}</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                        {% with submit_text="Create" submit_name="fs_dp_submitted" formset=dp_formset %}{% include "formset-grid.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>{% trans "Trunk sequence for matched routes" %}</h2>
        </div>
    </div>

    <div class="row mb-4">
        {% for ts in outbound.trunk_sequences.all %}
            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                <div class="card d-flex flex-row">
                    <div class=" d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                            <div class="min-width-zero text-center mx-auto">
                                <p class="list-item-heading mb-1 truncate"><strong>{% trans "Trunk" %}:</strong> {{ ts.trunk.name }}</p>
                                <a href="{% url "xbee_routes:delete_dp_and_ts" 'ts' ts.pk %}"><button type="button" class="btn btn-xs btn-outline-primary mt-2">{% trans "Delete" %}</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                        {% with submit_text="Create" submit_name="fs_ts_submitted" formset=ts_formset %}{% include "formset-grid.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/formset.js" %}"></script>
{% endblock %}