{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Routes" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/dataTables.bootstrap4.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Routes" %}</h1>
            <div class="top-right-button-container">
                <button type="button" class="btn btn-primary btn-lg top-right-button mr-1 mb-2" data-toggle="modal" data-target="#newInboundRightModal">{% trans "ADD INBOUND" %}</button>
                <button type="button" class="btn btn-primary btn-lg top-right-button mr-1 mb-2" data-toggle="modal" data-target="#newOutboundRightModal">{% trans "ADD OUTBOUND" %}</button>
            </div>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Routes" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#inbound__routes" role="tab" aria-controls="first" aria-selected="true">{% trans "Inbound" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="second-tab" data-toggle="tab" href="#outbound__routes" role="tab" aria-controls="second" aria-selected="false">{% trans "Outbound" %}</a>
                        </li>
                    </ul>
                </div>

                <div class="card-body">

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="inbound__routes" role="tabpanel" aria-labelledby="first-tab">

                            {% include "xbee_routes/tab/inbound.html" %}

                        </div>
                        <div class="tab-pane fade" id="outbound__routes" role="tabpanel" aria-labelledby="second-tab">

                            {% include "xbee_routes/tab/outbound.html" %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-right" id="newInboundRightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rightModalLabel">{% trans "Add new inbound" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans %} <!-- TODO --> {% endblocktrans %}{% lorem 30 w %}</p>

                    {% with submit_text="Create" submit_name="inbound_submitted" form=form_inbound %}{% include "form-top-labels-over-line.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-right" id="newOutboundRightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rightModalLabel">{% trans "Add new outbound" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans %} <!-- TODO --> {% endblocktrans %}{% lorem 30 w %}</p>

                    {% with submit_text="Create" submit_name="outbound_submitted" form=form_outbound %}{% include "form-top-labels-over-line.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/datatables.min.js" %}"></script>
{% endblock %}