{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Companies list" %}{% endblock %}

{% block css_head_block %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap-float-label.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/dataTables.bootstrap4.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/vendor/datatables.responsive.bootstrap4.min.css" %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h1>{% trans "Companies list" %}</h1>
            <div class="top-right-button-container">
                <button type="button" class="btn btn-primary btn-lg top-right-button mr-1" data-toggle="modal" data-target="#newCompanyRightModal">{% trans "ADD" %}</button>
            </div>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item"><a href="{% url "xbee_account:dashboard" %}">{% trans "Home" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Companies list" %}</li>
                </ol>
            </nav>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table class="data-table data-tables-pagination responsive nowrap" data-order="[[ 1, &quot;desc&quot; ]]">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Max users" %}</th>
                                <th>{% trans "Type" %}</th>
                                <th>{% trans "State" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for comp in companies %}
                                <tr>
                                    <td>
                                        <p class="list-item-heading">{{ comp.name }}</p>
                                    </td>
                                    <td>
                                        <p class="text-muted">{{ comp.max_users }}</p>
                                    </td>
                                    <td>
                                        {% if comp.vision_id %}
                                            <span class="badge badge-info mb-1">{% trans "Vision" %}</span>
                                        {% endif %}
                                        {% if comp.is_white_label_company %}
                                            <span class="badge badge-light mb-1">{% trans "White label" %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if comp.is_active %}
                                            <span class="badge badge-success mb-1">{% trans "Enabled" %}</span>
                                        {% else %}
                                            <span class="badge badge-danger mb-1">{% trans "Disabled" %}</span>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url "xbee_company:company_disable" comp.pk %}" data-toggle="tooltip" data-placement="top" title="{% if comp.is_active %}{% trans "Disable" %}{% else %}{% trans "Enable" %}{% endif %}"><i class="simple-icon-ban"></i></a></td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-right" id="newCompanyRightModal" tabindex="-1" role="dialog" aria-labelledby="rightModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rightModalLabel">{% trans "Add new company" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{% blocktrans %} <!-- TODO --> {% endblocktrans %}{% lorem 30 w %}</p>

                    {% with submit_text="Create" submit_name="company_submitted" form=form_company %}{% include "form-top-labels-over-line.html" %}{% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_body_block %}
    <script src="{% static "js/vendor/datatables.min.js" %}"></script>
{% endblock %}